<div class="container my-5" *ngIf="!onHistory">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-4">Mis estadísticas</h1>
    </div>
  </div>

  <div *ngIf="processingRequest" class="row mt-3 justify-content-center">
    <div class="col-md-10 text-center loading-container">
      <shared-loading-spinner></shared-loading-spinner>
      <p class="mt-2">Cargando...</p>
    </div>
  </div>

  <div *ngIf="!processingRequest && !noMetrics" class="row mt-3 justify-content-center">
    <div class="col-md-10">
      <div class="card statistics-card">
        <div class="row">
          <div class="col-md-6">
            <p><strong>Peso:</strong> {{misMetricas[0].peso}} kg</p>
            <p><strong>Objetivo:</strong> {{misMetricas[0].objetivo}} kg</p>
            <p><strong>Altura:</strong> {{misMetricas[0].altura}} cm</p>
            <p><strong>Grasa:</strong> {{misMetricas[0].grasa}} %</p>
            <p><strong>IMC:</strong> {{misMetricas[0].imc}}</p>
          </div>
          <div class="col-md-6">
            <p><strong>Fecha Actualización:</strong> {{misMetricas[0].fecha_creacion | date:"short"}}</p>
            <p><strong>Bíceps Izquierdo:</strong> {{misMetricas[0].bicep_izquierdo}} cm</p>
            <p><strong>Bíceps Derecho:</strong> {{misMetricas[0].bicep_derecho}} cm</p>
            <p><strong>Cadera:</strong> {{misMetricas[0].cadera}} cm</p>
            <p><strong>Cintura:</strong> {{misMetricas[0].cintura}} cm</p>
            <p><strong>Muslo Derecho:</strong> {{misMetricas[0].muslo_derecho}} cm</p>
            <p><strong>Muslo Izquierdo:</strong> {{misMetricas[0].muslo_izquierdo}} cm</p>
          </div>
        </div>
        
      </div>
      <div class="row justify-content-center mt-3">
        <button class="history-button" (click)="toHistory()">Mi historial</button>
      </div>
    </div>
  </div>
  <div *ngIf="noMetrics">
    <h2>El cliente no tiene metricas registradas</h2>
  </div>
</div>
<br>
<br>

<div class="container statistics-container" *ngIf="onHistory">
  <div class="row justify-content-between mt-3">
    <div class="col-md-2 text-right">
      <button class="back-button" (click)="Back()">Regresar</button>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-md-4 text-center">
      <h2>Mi Historial</h2>
    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="col-md-5">
      <select (change)="filtrarPorMes($event.target)" class="form-control form-control-sm" name="mes" id="mes">
        <option *ngFor="let mes of MonthList" [value]="mes.value">{{ mes.name }}</option>
      </select>
    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="col-md-10 statistics-content">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <p><strong>Altura:</strong></p>
              <p><strong>Peso:</strong></p>
              <p><strong>IMC:</strong></p>
              <p><strong>Objetivo:</strong></p>
            </div>
            <div class="col-6">
              <p>{{actualMetric?.altura}}cm</p>
              <p>{{actualMetric?.peso}}kg</p>
              <p>{{actualMetric?.imc}}</p>
              <p>{{actualMetric?.objetivo}}kg</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <p>{{actualMetric?.mensajeIMC}}</p>
          <p>{{actualMetric?.mensajeCal}}</p>
        </div>
      </div>
    </div>
  </div>
