
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');

/*Boton de registrar*/
button{
    color: white;
    background-color: #72ce16;
    border-color: #72ce16;
    border-radius: 15px; 
    padding: 5px 10px; 
    font-size: 14px; 
    font-family: "Baloo Bhai 2";
}



/*vosualizacion de informacion*/
.detalle_cliente{
    font-family: "Baloo Bhai 2";
}

h5.oa{
    font-family: "Baloo Bhai 2";
    font-size: 1rem;
    
}

.altura{
    height: auto!important; /* Altura deseada para el card-body de la membresía */
    
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}