<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="container" *ngIf="onChoosingDay">
    <div class="row">
        <h1 class="text-center">Plan de Entrenamiento</h1>
        <div class="d-flex justify-content-center align-items-center w-100">
            <h2 class="mb-0 me-2">{{receivedClient.nombre}} {{receivedClient.apellido1}} {{receivedClient.apellido2}}</h2>
            <i class="fas fa-chevron-circle-left fa-lg ms-5" *ngIf="!planCompleted" (click)="goBack()"></i>
            <button class="btn btn-success ms-5" (click)="registrarPlan(confirmation, alertTemplate)">Registrar Plan</button>

        </div>
    </div>
    <h3 class="text-center">Seleccionar</h3>
    <div class="row justify-content-center">
        <div id="DIA 1"class="col-6 col-md-4 mb-3 membresias" (click)="dayClicked(1)">
            <div class="card">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title text-center">Día 1</h5>
                    <i *ngIf="!day1Completed" class="fa-regular fa-circle ms-3 mt-2"></i>
                    <i *ngIf="day1Completed" class="fa-regular fa-circle-check ms-3 mt-2"></i>
                </div>
            </div>
        </div>
        <div id="DIA 2" class="col-6 col-md-4 mb-3 membresias" (click)="dayClicked(2)">
            <div class="card">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title text-center">Día 2</h5>
                    <i *ngIf="!day2Completed" class="fa-regular fa-circle ms-3 mt-2"></i>
                    <i *ngIf="day2Completed" class="fa-regular fa-circle-check ms-3 mt-2"></i>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 mb-3 membresias" (click)="dayClicked(3)">
            <div class="card">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title text-center">Día 3</h5>
                    <i *ngIf="!day3Completed" class="fa-regular fa-circle ms-3 mt-2"></i>
                    <i *ngIf="day3Completed" class="fa-regular fa-circle-check ms-3 mt-2"></i>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 mb-3 membresias" (click)="dayClicked(4)">
            <div class="card">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title text-center">Día 4</h5>
                    <i *ngIf="!day4Completed" class="fa-regular fa-circle ms-3 mt-2"></i>
                    <i *ngIf="day4Completed" class="fa-regular fa-circle-check ms-3 mt-2"></i>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 mb-3 membresias" (click)="dayClicked(5)">
            <div class="card">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title text-center">Día 5</h5>
                    <i *ngIf="!day5Completed" class="fa-regular fa-circle ms-3 mt-2"></i>
                    <i *ngIf="day5Completed" class="fa-regular fa-circle-check ms-3 mt-2"></i>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 mb-3 membresias" (click)="dayClicked(6)">
            <div class="card">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title text-center">Día 6</h5>
                    <i *ngIf="!day6Completed" class="fa-regular fa-circle ms-3 mt-2"></i>
                    <i *ngIf="day6Completed" class="fa-regular fa-circle-check ms-3 mt-2"></i>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 mb-3 membresias" (click)="dayClicked(7)">
            <div class="card">
                <div class="d-flex justify-content-center">
                    <h5 class="card-title text-center">Día 7</h5>
                    <i *ngIf="!day7Completed" class="fa-regular fa-circle ms-3 mt-2"></i>
                    <i *ngIf="day7Completed" class="fa-regular fa-circle-check ms-3 mt-2"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="onExcerciseStore">
    <div class="row">
        <h1 class="text-center">Registro de entrenamiento</h1>
        <div class="d-flex justify-content-center align-items-center w-100">
            <h2 class="mb-0 me-2">{{receivedClient.nombre}} {{receivedClient.apellido1}} {{receivedClient.apellido2}}</h2>
            <button class="btn btn-success ms-5" [disabled]="countExcercises === 0" (click)="registrarDia(modalTemplate)">Guardar</button>
        </div>
        <h4 class="text-center">Día {{selectedDay}}</h4>
        <div class="col col-md-3 mx-auto">
            <select [(ngModel)]="filterByGrupoMuscular" name="idSede" class="form-select" required>
                <option aria-label="Default select example" value="0">Seleccione grupo muscular</option>
                <option *ngFor="let grupoMuscular of gruposMusculares" [value]="grupoMuscular.id_grupo_muscular">{{grupoMuscular.nombre_grupo_muscular}}</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6 col-md-4 mb-3 membresias" *ngFor="let ejercicio of ejercicios | sortGrupoMuscular:filterByGrupoMuscular">
                    <div class="card">
                        <img [src]="ejercicio.imagen" alt="imagen ejercicio" class="img-fluid">
                        <h4 class="text-center">{{ejercicio.nombre}}</h4>
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <p class="mb-0" style="width: 97px;">Repeticiones:</p>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-circle-plus" style="cursor: pointer;" (click)="incrementar(ejercicio.id_ejercicio, 'r')"></i>
                            </div>
                            <div class="col-auto">
                                <input type="number" class="form-control" style="width: 70px;" [(ngModel)]="ejercicio.repeticiones"/>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-circle-minus" style="cursor: pointer;" (click)="disminuir(ejercicio.id_ejercicio, 'r')"></i>
                            </div>
                        </div>
                        <br>
                        <div class="row align-items-center">
                            <div class="col-auto" style="width: 120px;">
                                <p class="mb-0">Series: </p>
                            </div>
                            <div class="col-auto ml-5">
                                <i class="fa-solid fa-circle-plus" style="cursor: pointer;" (click)="incrementar(ejercicio.id_ejercicio, 's')"></i>
                            </div>
                            <div class="col-auto">
                                <input type="number" class="form-control" style="width: 70px;" [(ngModel)]="ejercicio.series"/>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-circle-minus" style="cursor: pointer;" (click)="disminuir(ejercicio.id_ejercicio, 's')"></i>
                            </div>
                        </div>
                        <button class="btn btn-success mt-3 w-100" (click)="guardarEjercicio(ejercicio)" [disabled]="ejercicio.series === 0 || ejercicio.repeticiones === 0 || ejercicio.series === undefined || ejercicio.repeticiones === undefined">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<ng-template #confirmation>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Registro finalizado</h4>
    </div>
    <div class="modal-body">PLAN DE ENTRENAMIENTO REGISTRADO CORRECTAMENTE</div>
</ng-template>

<ng-template #modalTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Registro finalizado</h4>
    </div>
    <div class="modal-body">SE GUARDÓ LOS EJERCICIOS CORRECTAMENTE</div>
    <div class="modal-body">DÍA {{selectedDay}}</div>
</ng-template>

<ng-template #alertTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Registro incompleto</h4>
    </div>
    <div class="modal-body">Por favor, complete todos los días antes de registrar el plan.</div>
</ng-template>

