 <div class="container my-5">
  <div class="row">
    <div class="col col-md-11 text-center">
      <h1 class="display-4">Mi Plan de Entrenamiento</h1>
    </div>
    <div class="col col-md-1 text-center">
      <button (click)="openModal(ModalQR);">Compartir plan</button>
    </div>
  </div>

  <div *ngIf="processingRequest" class="row mt-3 justify-content-center">
    <div class="col-md-10 text-center loading-container">
      <shared-loading-spinner></shared-loading-spinner>
      <p class="mt-2">Cargando...</p>
    </div>
  </div>

  <div *ngIf="!processingRequest" class="row mt-3 justify-content-center">
    <div class="col-md-10">
      <table class="table table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th *ngFor="let dia of dias">Día {{ dia.dia }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let dia of dias">
              <div class="exercise-cell">
                <div *ngFor="let ejercicio of dia.ejercicios"
                  class="exercise-container p-2 mb-2 bg-light rounded">
                  <p class="font-weight-bold">{{ ejercicio.nombre_grupo_muscular
                    }}</p>
                  <p>{{ ejercicio.nombre }}</p>
                  <p>Series: {{ ejercicio.series }} Repeticiones: {{
                    ejercicio.repeticiones }}</p>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #ModalQR>
    <div class="modal-header">
      <h4 class="modal-title">Compartir plan</h4>
      <button type="button" class="btn-close" aria-label="Close"
        (click)="modalRef?.hide()"></button>
    </div>

    <div *ngIf="processingRequest; else FormBody">
      <div class="modal-body">
        <shared-loading-spinner></shared-loading-spinner>
        <p>Espere mientras se registra el ejercicio</p>
      </div>
    </div>

    <ng-template #FormBody>
      <div class="modal-body">
        <img [src]="qrUrl" class="card-img-top" alt="Profile Image">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="modalRef?.hide()">Cerrar</button>
      </div>

    </ng-template>
  </ng-template>

</div>
