<div
  class="login-container row align-items-center d-flex justify-content-center"
>
  <div class="col col-md-4"></div>

  <div class="card custom-card-color p-5 col col-md-3">
    <h2 class="pb-3">INICIAR SESIÓN</h2>

    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="form-floating mb-3">
        <input
          [(ngModel)]="credentials.username"
          name="dni"
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="00000000"
          required
        />
        <label class="tipoLetra" for="floatingInput">Número de documento</label>
      </div>
      <div class="form-floating">
        <input
          [(ngModel)]="credentials.password"
          name="contra"
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Contraseña"
          required
        />
        <label class="tipoLetra" for="floatingPassword">Contraseña</label>
      </div>

      <p class="credenciales-i" *ngIf="invalidCredentials">
        <i class="bi-exclamation-circle" *ngIf="invalidCredentials"></i>
        Las credenciales son incorrectas
      </p>

      <button
        class="btn form-control mt-4"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Ingresar
      </button>
    </form>
  </div>

  <div class="col col-md-4"></div>
</div>
