@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');
.sede-card {
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 5px;
  }
  
  .sede-button {
    border: none;
    background: none;
    padding: 0;
  }
  
  .btn-no-border {
    border: none;
  }
  
  .btn-no-border1 {
    border:none!important ;
    border-radius: 10px;
  }
  
  .btn-no-border2 {
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0;
  }
  
  .btn-registrar-sede {
    background-color: #72ce16;
    border-color: #72ce16;
  }