<link
  href="https://unpkg.com/css.gg@2.0.0/icons/css/math-plus.css"
  rel="stylesheet"
/>

<div class="container" *ngIf="!onSelectSede">
  <div class="row">
    <div class="col text-center">
      <h1>MIS SEDES</h1>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col text-center">
      <button
        class="btn btn-filter"
        [class.active]="showActive"
        (click)="changeFilter()"
      >
        SEDES ACTIVAS
      </button>
      <button
        class="btn btn-filter"
        [class.active]="!showActive"
        (click)="changeFilter()"
      >
        SEDES INACTIVAS
      </button>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let sede of sedes" class="col-md-6 mb-4">
      <div class="card sede-card text-center">
        <div class="card-body" (click)="selectSede(sede)">
          <p><strong>Nombre:</strong> {{ sede.nombreSede }}</p>
          <p><strong>Abreviación:</strong> {{ sede.abreviacion }}</p>
          <p><strong>Dirección:</strong> {{ sede.direccion }}</p>
         
        </div>
        <select
        [(ngModel)]="sede.estado"
        (change)="updateStatus(sede.idSede + '')"
        [ngClass]="{
          'form-select-green': sede.estado === 'A',
          'form-select-red': sede.estado !== 'A'
        }"
        class="form-select"
      >
        <option style="background-color: #72ce16" value="A">Activo</option>
        <option style="background-color: #e62c2c" value="I">
          Inactivo
        </option>
      </select>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card fixed-square">
        <button
          type="button"
          class="btn btn-registrar-sede"
          (click)="openModal(template)"
        >
          <i class="bi bi-plus-lg custom-size"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <ng-template #template>
    <form (ngSubmit)="registerSede()" #sedeForm="ngForm">
      <div class="modal-header">
        <h4 class="modal-title">Registrar Nueva Sede</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modalRef?.hide()"
        ></button>
      </div>

      <div
        *ngIf="succesRequest; else form"
        class="modal-body d-flex flex-column align-items-center justify-content-center"
      >
        <h3>Sede registrada correctamente</h3>
      </div>

      <ng-template #form>
        <div
          *ngIf="processingRequest"
          class="modal-body d-flex flex-column align-items-center justify-content-center"
        >
          <shared-loading-spinner></shared-loading-spinner>
          <p>Espere mientras se registra la sede</p>
        </div>
        <div *ngIf="!processingRequest">
          <div class="modal-body">
            <p>Ingrese los datos de la nueva sede a registrar</p>
            <div class="input-group mb-3">
              <span class="input-group-text">Nombre</span>
              <input
                [(ngModel)]="sedeRegistro.nombreSede"
                name="nombreSede"
                class="form-control"
                type="text"
                placeholder="Nombre"
                required
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Abreviación</span>
              <input
                [(ngModel)]="sedeRegistro.abreviacion"
                name="abreviacion"
                class="form-control"
                type="text"
                placeholder="Abreviación"
                required
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Dirección</span>
              <input
                [(ngModel)]="sedeRegistro.direccion"
                name="direccion"
                class="form-control"
                type="text"
                placeholder="Dirección"
                required
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary btn-no-border2"
              data-bs-dismiss="modal"
              (click)="modalRef?.hide()"
            >
              Cerrar
            </button>
            <button
              class="btn btn-primary btn-no-border1"
              type="submit"
              [disabled]="!sedeForm.valid"
            >
              Registrar sede
            </button>
          </div>
        </div>
      </ng-template>
    </form>
  </ng-template>
  <br /><br /><br /><br /><br />
</div>
<div class="container" *ngIf="onSelectSede"> 
  <div class="row">
    <div class="col text-center">
      <h1>Sede {{selectedSede.nombreSede}} <strong *ngIf="selectedColaboradores">/Colaboradores</strong> <strong *ngIf="selectedClients">/Clientes</strong></h1>
    </div>
  </div>
  <div class="row" *ngIf="!this.selectedColaboradores && !this.selectedClients">
    <div  class="col card" (click)="onColaboradores(confirmation)">
          <h2>Mis Colaboradores</h2>
    </div>
    <div class="col card" (click)="onClientes(confirmation)">
          <h2>Mis Clientes</h2>
    </div>
  </div>

  <div class="card row" *ngIf="selectedColaboradores">
    <h2>Entrenadores</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Usuario</th>
          <th>Fecha de Inscripción</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let entrenador of siteTrainers">
          <td>{{entrenador.nombre_1 + " " + entrenador.nombre_2}}</td>
          <td>{{entrenador.apellido_1 +" "+ entrenador.apellido_2}}</td>
          <td>{{entrenador.numero_documento_identidad}}</td>
          <td>{{entrenador.fecha_creacion?.toString()?.slice(0,10)}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card row" *ngIf="selectedColaboradores">
    <h2>Recepcionistas</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Usuario</th>
          <th>Fecha de Inscripción</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let recepcionista of siteRecepcionistas">
          <td>{{recepcionista.nombre_1 + " " + recepcionista.nombre_2}}</td>
          <td>{{recepcionista.apellido_1 +" "+ recepcionista.apellido_2}}</td>
          <td>{{recepcionista.numero_documento_identidad}}</td>
          <td>{{recepcionista.fecha_creacion?.toString()?.slice(0,10)}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card row" *ngIf="selectedClients">
    <h2>Clientes</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Usuario</th>
          <th>Fecha de Inscripción</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let cliente of siteClients">
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido1 +" "+ cliente.apellido2}}</td>
          <td>{{cliente.dni}}</td>
          <td>{{cliente.fechaCreacion?.toString()?.slice(0,10)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<ng-template #confirmation>
  <div class="modal-header">
    <h4 class="modal-title pull-left"></h4>
  </div>
  <div class="modal-body">{{mensajeEmpty}}</div>
</ng-template>