<div class="container">
  <div class="row">
    <div class="col">
      <h1>MIS SEDES</h1>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let sede of sedes" class="card col-md-3">
      <button class="sede-button">
        <div class="sede-info">
          <p><strong>ID:</strong> {{sede.idSede}}</p>
          <p><strong>Nombre:</strong> {{sede.nombreSede}}</p>
          <p><strong>Abreviación:</strong> {{sede.abreviacion}}</p>
          <p><strong>Dirección:</strong> {{sede.direccion}}</p>
          <p><strong>Fecha de Creación:</strong> {{sede.fechaCreacion | date:'short'}}</p>
          <p><strong>Fecha de Modificación:</strong> {{sede.fechaModificacion | date:'short'}}</p>
          <p><strong>Estado:</strong> {{sede.estado}}</p>
          <p><strong>Usuario de Modificación:</strong> {{sede.usuarioModificacion}}</p>
        </div>
      </button>
    </div>

    <div class="card col-md-3">
      <button type="button" class=" btn btn-primary btn-no-border"
        (click)="openModal(template)">Registrar Sede</button>
    </div>

  </div>

  <!-- Modal -->

  <ng-template #template>
    <form (ngSubmit)="registerSede()" #sedeForm="ngForm">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Registrar Nueva Sede</h4>
        <button type="button" class="btn-close close pull-right"
          aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div *ngIf="processingRequest" class="modal-body">
        <shared-loading-spinner></shared-loading-spinner>
        <p>Espere mientras se registra la sede</p>
      </div>
      <div *ngIf="!processingRequest">
        <div class="modal-body">

          <p>Ingrese los datos de la nueva sede a registrar</p>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nombre</span>
            <input [(ngModel)]="sedeRegistro.nombreSede" name="nombreSede"
              class="form-control"
              type="text" placeholder="Nombre"
              required>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Abreviacion</span>
            <input [(ngModel)]="sedeRegistro.abreviacion" name="abreviacion"
              class="form-control"
              type="text" placeholder="Abreviación"
              required>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Direccion</span>
            <input [(ngModel)]="sedeRegistro.direccion" name="direccion"
              class="form-control"
              type="text" placeholder="Dirección"
              required>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-no-border2"
            data-bs-dismiss="modal" (click)="modalRef?.hide()">Cerrar</button>
          <button
            class="btn btn-primary btn-no-border1"
            type="submit"
            [disabled]="!sedeForm.valid">
            Registrar sede
          </button>
        </div>
      </div>
    </form>
  </ng-template>

</div>
