@import url('https://unpkg.com/css.gg@2.0.0/icons/css/math-plus.css');

.btn-filter {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.btn-filter.active {
  background-color: #72ce16;
}

.sede-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.form-select-green {
  background-color: #72ce16;
  color: white;
}

.form-select-red {
  background-color: #E62C2C;
  color: white;
}

.btn-primary {
  background-color:#72ce16;
}

.btn-no-border1 {
  border: none;
}

.opcion1 {
  background-color: #72ce16;
}

.opcion2 {
  background-color: #E62C2C;
}

.fixed-square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.btn-registrar-sede {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.custom-modal-content {
  padding: 10px;
}

.custom-modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.card-body{
  align-items: center;
  height: auto;
  min-height: 13em !important;
}

@media(min-width:400px){
  .card-body{
    min-height: 17em;
  }
}