<div class="container">
  <div class="row">
    <div class="col">
      <h1>MIS SEDES</h1>
    </div>
  </div>

  <div class="row">
    <div class="d-flex justify-content-start">
      <button class="btn btn-membresias-activas" [class.active]="showActive" (click)="changeFilter()">Membresías Activas</button>
      <button class="btn btn-membresias-inactivas" [class.active]="!showActive"  (click)="changeFilter()">Membresías Inactivas</button>
  </div>
    <div *ngFor="let sede of sedes" class="col-md-3">
      <div class="card sede-card">
        <button class="sede-button">
          <div class="sede-info">
            <p><strong>Nombre:</strong> {{sede.nombreSede}}</p>
            <p><strong>Abreviación:</strong> {{sede.abreviacion}}</p>
            <p><strong>Dirección:</strong> {{sede.direccion}}</p>
            <select [(ngModel)]="sede.estado" (change)="updateStatus(sede.idSede + '')" class="form-select form-select-green">
              <option value="A">Activo</option>
              <option value="I">Inactivo</option>
          </select>
          </div>
        </button>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card sede-card">
        <button type="button" class="btn btn-primary btn-no-border btn-registrar-sede"
          (click)="openModal(template)">Registrar Sede</button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <ng-template #template>
    <form (ngSubmit)="registerSede()" #sedeForm="ngForm">
      <div class="modal-header">
        <h4 class="modal-title">Registrar Nueva Sede</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef?.hide()"></button>
      </div>
      <div *ngIf="processingRequest" class="modal-body d-flex flex-column align-items-center justify-content-center">
        <shared-loading-spinner></shared-loading-spinner>
        <p>Espere mientras se registra la sede</p>
      </div>
      <div *ngIf="!processingRequest">
        <div class="modal-body">
          <p>Ingrese los datos de la nueva sede a registrar</p>
          <div class="input-group mb-3">
            <span class="input-group-text">Nombre</span>
            <input [(ngModel)]="sedeRegistro.nombreSede" name="nombreSede" class="form-control" type="text" placeholder="Nombre" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Abreviación</span>
            <input [(ngModel)]="sedeRegistro.abreviacion" name="abreviacion" class="form-control" type="text" placeholder="Abreviación" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Dirección</span>
            <input [(ngModel)]="sedeRegistro.direccion" name="direccion" class="form-control" type="text" placeholder="Dirección" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-no-border2" data-bs-dismiss="modal" (click)="modalRef?.hide()">Cerrar</button>
          <button class="btn btn-primary btn-no-border1" type="submit" [disabled]="!sedeForm.valid">Registrar sede</button>
        </div>
      </div>
    </form>
  </ng-template>