
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');

.btn{
    margin: 15px;
}
.container {
    margin-top: 20px;
    margin-bottom: 70px; /* Ajusta el valor según tu preferencia */
}
.custom-select {
    color: white;
    background-color: #72ce16;
    border-color: #72ce16;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    font-family: "Baloo Bhai 2";
    -webkit-appearance: none; /* Remove default arrow for WebKit browsers */
    -moz-appearance: none; /* Remove default arrow for Firefox */
    appearance: none; /* Remove default arrow */
}

.custom-select:hover {
    background-color: #60ad13;
    border-color: #60ad13;
    transition: 0.5s;
}

.custom-select:focus {
    box-shadow: 0 0 5px #60ad13;
    border-color: #60ad13;
    outline: none;
}

.custom-select option {
    color: black;
    background-color: white;
}

/* Additional styles to ensure the dropdown arrow is still visible */
.custom-select::after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: white;
}
/*Boton de registrar*/
button{
    color: white;
    background-color: #72ce16;
    border-color: #72ce16;
    border-radius: 15px; 
    padding: 5px 10px; 
    font-size: 14px; 
    font-family: "Baloo Bhai 2";
}

button:hover{
    background-color: #60ad13;
    border-color: #60ad13;
    transition: .5;
}

/*vosualizacion de informacion*/
.detalle_cliente{
    font-family: "Baloo Bhai 2";
}

h5.oa{
    font-family: "Baloo Bhai 2";
    font-size: 1rem;
    
}
