<div class="container">

  <div class="row">
    <div class="col">
      <h1>Colaboradores</h1>
    </div>
  </div>

  <div class="row">

    <div class="col col-md-1 ">
      <button
        (click)="clickEntrenadoresFilter()"
        [ngClass]="activeFilterEntrenador ? 'primario-boton' : 'segundo'">Entrenadores</button>
    </div>

    <div class="col col-md-1">
      <button
        (click)="clickRecepcionistaFilter()"
        [ngClass]="activeFilterRecepcionista ? 'primario-boton' : 'segundo'">Recepcionistas</button>
    </div>

    <div class="col offset-md-8 col-md-2">
      <button (click)="openModal(ModalRegistrarColaborador)">Registrar nuevo
        colaborador</button>
    </div>

  </div>

  <div class="row mt-3">
    <div class="col">
      <input [(ngModel)]="searchByName" class="form-control" type="text"
        placeholder="Buscar colaboradores"
        aria-label="Buscar colaboradores" aria-describedby="button-addon2">
    </div>
  </div>
  <br>

  <div class="row mt-3">
    <div class="col offset-md-2 col-md-8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Rol</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>DNI</th>
            <th>Ver detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let colaborador of colaboradores|sortBy:sortTipoColab|sortName:searchByName; let i = index">
            <td>{{ i + 1}}</td>
            <td>{{colaborador.detalle_tipo}}</td>
            <td>{{ colaborador.nombre_1 +" "+ colaborador.apellido_1}}</td>
            <td>{{colaborador.fecha_nacimiento | calcularEdad}}</td>
            <td>{{colaborador.numero_documento_identidad}}</td>
            <td><button
                (click)="openModalDetalles(ModalDetalleColaborador, colaborador.id_persona)"><i
                  class="fa fa-eye"
                  aria-hidden="true"></i></button></td>

          </tr>
        </tbody>

      </table>
    </div>
  </div>

  <!-- Modal -->

  <ng-template #ModalRegistrarColaborador>
    <form (ngSubmit)="registerColaborador()" #colaboradorForm="ngForm">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Registrar Nueva Colaborador</h4>
        <button type="button" class="btn-close close pull-right"
          aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div *ngIf="processingRequest; else FormBody">
        <div class="modal-body">
          <shared-loading-spinner></shared-loading-spinner>
          <p>Espere mientras se registra el colaborador</p>
        </div>
      </div>
      <ng-template #FormBody>
        <div class="modal-body">

          <p>Ingrese los datos del nuevo colaborar a registrar</p>

          <div class="row">
            <div class="col col-md-6">
              <div class="mb-3">
                <label for="exampleInputPassword1"
                  class="form-label">Primer nombre</label>
                <input [(ngModel)]="personaRegistro.nombre_1" name="nombre_1"
                  type="text"
                  class="form-control"
                  id="exampleInputPassword1" required>
              </div>
            </div>
            <div class="col col-md-6">
              <div class="mb-3">
                <label for="exampleInputPassword1"
                  class="form-label">Segundo nombre</label>
                <input [(ngModel)]="personaRegistro.nombre_2" name="nombre_2"
                  type="text"
                  class="form-control"
                  id="exampleInputPassword1" required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-md-6">
              <div class="mb-3">
                <label for="exampleInputPassword1"
                  class="form-label">Primer apellido</label>
                <input [(ngModel)]="personaRegistro.apellido_1"
                  name="apellido_1" type="text"
                  class="form-control"
                  id="exampleInputPassword1" required>
              </div>
            </div>
            <div class="col col-md-6">
              <div class="mb-3">
                <label for="exampleInputPassword1"
                  class="form-label">Segundo apellido</label>
                <input [(ngModel)]="personaRegistro.apellido_2"
                  name="apellido_2" type="text"
                  class="form-control"
                  id="exampleInputPassword1" required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-md-3">
              <div class="mb-3">
                <label for="exampleInputPassword1"
                  class="form-label">Fecha de nacimiento</label>
                <input [(ngModel)]="personaRegistro.fecha_nacimiento"
                  name="fecha_nacimiento"
                  type="date" class="form-control"
                  id="exampleInputPassword1" required>
              </div>
            </div>
            <div class="col col-md-6">
              <div class="mb-3">
                <label for="exampleInputPassword1"
                  class="form-label">Correo</label>
                <input [(ngModel)]="personaRegistro.correo" name="correo"
                  type="mail"
                  class="form-control"
                  id="exampleInputPassword1" required>
              </div>
            </div>
            <div class="col col-md-3">
              <div class="mb-3">
                <label for="exampleInputPassword1"
                  class="form-label">Sexo</label>
                <select class="form-select" aria-label="Default select example"
                  [(ngModel)]="personaRegistro.sexo" name="sexo"
                  required>
                  <option value>Seleccione Sexo</option>
                  <option value="M">Masculino</option>
                  <option value="F">Femenino</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-md-3">
              <div class="mb-3">
                <label for="exampleInputPassword1"
                  class="form-label">Teléfono</label>
                <input [(ngModel)]="personaRegistro.telefono" name="telefono"
                  type="tel" class="form-control" id="exampleInputPassword1"
                  maxlength="9">

              </div>
            </div>
            <div class="col col-md-5">
              <div class="mb-3">
                <label for="exampleInputPassword1"
                  class="form-label">Número documento de identidad</label>
                <input [(ngModel)]="personaRegistro.numero_documento_identidad"
                  name="dni" type="text" class="form-control"
                  id="exampleInputPassword1" maxlength="8">

              </div>
            </div>
            <div class="col col-md-4">
              <div class="mb-3">
                <label for="exampleInputPassword1"
                  class="form-label">Tipo colaborador</label>
                <select [(ngModel)]="personaRegistro.id_tipo_persona"
                  name="id_tipo_persona" class="form-select"
                  required>
                  <option aria-label="Default select example"
                    value="0">Seleccione Tipo</option>
                  <option value="1">Entrenador</option>
                  <option value="2">Recepcionista</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-md-4">
              <div class="mb-3">
                <label for="exampleInputPassword1"
                  class="form-label">Sede</label>
                <select [(ngModel)]="personaRegistro.idSede"
                  name="idSede" class="form-select"
                  required>
                  <option aria-label="Default select example"
                    value="0">Seleccione sede</option>

                  <option *ngFor="let sede of sedes"
                    [value]="sede.idSede">{{sede.nombreSede}}</option>
                </select>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-no-border2"
            data-bs-dismiss="modal" (click)="modalRef?.hide()">Cerrar</button>
          <button
            class="btn btn-primary btn-no-border1"
            type="submit"
            [disabled]="!colaboradorForm.valid">
            Registrar colaborador
          </button>
        </div>
      </ng-template>
    </form>
  </ng-template>

  <!-- Fin Modal -->

  <!-- Modal -->

  <ng-template #ModalDetalleColaborador>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Datos del Colaborador</h4>
      <button type="button" class="btn-close close pull-right"
        aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="row">
        <div class="col col-md-12">
          <div class="mb-3">
            <label for="exampleInputPassword1"
              class="form-label">Nombre completo</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="personaDetalle!.nombre_1+' '+personaDetalle!.nombre_2+' '+personaDetalle!.apellido_1+' '+personaDetalle!.apellido_2">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-md-4">
          <div class="mb-3">
            <label for="exampleInputPassword1"
              class="form-label">Rol</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="personaDetalle!.detalle_tipo">
          </div>
        </div>
        <div class="col col-md-4">
          <div class="mb-3">
            <label for="exampleInputPassword1"
              class="form-label">Sexo</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="personaDetalle!.sexo | sexo">
          </div>
        </div>
        <div class="col col-md-4">
          <div class="mb-3">
            <label for="exampleInputPassword1"
              class="form-label">Edad</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="personaDetalle!.fecha_nacimiento |
              calcularEdad">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-md-6">
          <div class="mb-3">
            <label for="exampleInputPassword1"
              class="form-label">Numero documento</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="personaDetalle!.numero_documento_identidad">
          </div>
        </div>
        <div class="col col-md-6">
          <div class="mb-3">
            <label for="exampleInputPassword1"
              class="form-label">Correo</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="personaDetalle!.correo">
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col col-md-6">
          <div class="mb-3">
            <label for="exampleInputPassword1"
              class="form-label">Telefono</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="personaDetalle!.telefono">
          </div>
        </div>
        <div class="col col-md-6">
          <div class="mb-3">
            <label for="exampleInputPassword1"
              class="form-label">Fecha inicio</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="personaDetalle!.fecha_inicio |
              date:'short'">
          </div>
        </div>

      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-no-border2"
        data-bs-dismiss="modal" (click)="modalRef?.hide()">Cerrar</button>
    </div>
  </ng-template>

  <!-- Fin Modal -->

</div>
<br>
<br>
<br>

<br>
<br>
<br>
