
<footer>
  <div class="container">
    <div class="column">
      <a id="logo" routerLink="/inicio"><img src="https://cdn.discordapp.com/attachments/1228834360367775860/1233535603140984925/transparente-removebg-preview.png?ex=662d730d&is=662c218d&hm=5eda344e6010187d03a2fa83a1f2e872c14e0dde208940770c70c9ca418b565e&" alt></a>
    </div>
    <div class="column">
      <p>Copyright &copy;2024; Diseñado por <span class="designer">OmodyGypm Team</span></p>  
    </div>
    <div class="column">
      <ul class="socials">
        <li><a href="https://www.facebook.com/OmodyGym" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/omodygym/" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a></li>
    </ul>
    </div>
  </div>
</footer>


