<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div *ngIf="processingRequest" class="row mt-3 justify-content-center">
    <div class="col-md-10 text-center loading-container">
        <shared-loading-spinner></shared-loading-spinner>
        <p class="mt-2">Cargando...</p>
    </div>
</div>

<!-- Ver métricas -->
<div class="container" *ngIf="!processingRequest && !onRegisterMetrics">
    <div class="header">
        <h2>Alumno</h2>
        <div *ngIf="hasMetrics" class="select-container">
            <select (change)="filtrarPorMes($event.target)" class="form-control form-control-sm" name="mes" id="mes">
                <option *ngFor="let mes of MonthList" [value]="mes.value">{{ mes.name }}</option>
            </select>
        </div>
    </div>

    <div class="card member-card">
        <h4 class="card-title">{{ receivedClient.nombre }} {{ receivedClient.apellido1 }} {{ receivedClient.apellido2 }}</h4>
    </div>
    <div *ngIf="hasMetrics">
        <div class="metrics-card">
            <div class="metrics-row">
                <div class="metrics-column">
                    <h6>Altura:</h6>
                    <h6>Peso:</h6>
                    <h6>Bicep derecho:</h6>
                    <h6>Bicep izquierdo:</h6>
                </div>
                <div class="metrics-column">
                    <h6>{{ actualMetric?.altura }}cm</h6>
                    <h6>{{ actualMetric?.peso }}kg</h6>
                    <h6>{{ actualMetric?.bicep_derecho }}cm</h6>
                    <h6>{{ actualMetric?.bicep_izquierdo }}cm</h6>
                </div>
                <div class="metrics-column">
                    <h6>Cadera:</h6>
                    <h6>Cintura:</h6>
                    <h6>Muslo derecho:</h6>
                    <h6>Muslo izquierdo:</h6>
                </div>
                <div class="metrics-column">
                    <h6>{{ actualMetric?.cadera }}cm</h6>
                    <h6>{{ actualMetric?.cintura }}cm</h6>
                    <h6>{{ actualMetric?.muslo_derecho }}cm</h6>
                    <h6>{{ actualMetric?.muslo_izquierdo }}cm</h6>
                </div>
            </div>
            <div class="objective">
                <h6>Objetivo: {{ actualMetric?.meta }}</h6>
                <h6>Peso Ideal: {{ actualMetric?.objetivo }}kg</h6>
            </div>
        </div>
        <button class="btn btn-primary" (click)="toRegisterMetrics()">Actualizar métricas</button>
    </div>
    <div *ngIf="!hasMetrics">
        <h5>Aún no se han registrado métricas</h5>
        <button class="btn btn-primary" (click)="toRegisterMetrics()">Registrar métricas</button>
    </div>
</div>

<form class="container" *ngIf="!processingRequest && onRegisterMetrics" (ngSubmit)="submitMetric(confirmation)">
    <div class="row">
        <div class="col-md-6 form-section">
            <h2>Ingresar Datos</h2>
            <div class="form-group">
                <label>Altura</label>
                <input (keyup)="validateForm()" [(ngModel)]="registerMetric.altura" name="altura" class="form-control form-control-sm" type="text" placeholder="ej: 1.70" required />
                <p *ngIf="badHeightFormat">La altura tiene que tener el formato: '0.00' un entero y uno/dos decimales</p>
            </div>
            <div class="form-group">
                <label>Peso</label>
                <input (keyup)="validateForm()" [(ngModel)]="registerMetric.peso" name="peso" class="form-control form-control-sm" type="text" placeholder="ej: 75" required />
                <p *ngIf="badWeightFormat">El peso tiene que tener el formato: '00.00' dos enteros y dos decimales</p>
            </div>
        </div>
        <div class="col-md-6 form-section">
            <h2>Ingresar Medidas</h2>
            <div class="form-group">
                <label>Bicep Derecho</label>
                <input (input)="onInput($event)" (keyup)="validateForm()" name="bicep_derecho" [(ngModel)]="registerMetric.bicep_derecho" class="form-control form-control-sm" type="number" placeholder="00" required />
            </div>
            <div class="form-group">
                <label>Bicep Izquierdo</label>
                <input (input)="onInput($event)" (keyup)="validateForm()" name="bicep_izquierdo" [(ngModel)]="registerMetric.bicep_izquierdo" class="form-control form-control-sm" type="number" placeholder="00" required />
            </div>
            <div class="form-group">
                <label>Cadera</label>
                <input (input)="onInput($event)" (keyup)="validateForm()" name="cadera" [(ngModel)]="registerMetric.cadera" class="form-control form-control-sm" type="number" placeholder="00" required />
            </div>
            <div class="form-group">
                <label>Cintura</label>
                <input (input)="onInput($event)" (keyup)="validateForm()" name="cintura" [(ngModel)]="registerMetric.cintura" class="form-control form-control-sm" type="number" placeholder="00" required />
            </div>
            <div class="form-group">
                <label>Muslo Derecho</label>
                <input (input)="onInput($event)" (keyup)="validateForm()" name="muslo_derecho" [(ngModel)]="registerMetric.muslo_derecho" class="form-control form-control-sm" type="number" placeholder="00" required />
            </div>
            <div class="form-group">
                <label>Muslo Izquierdo</label>
                <input (input)="onInput($event)" (keyup)="validateForm()" name="muslo_izquierdo" [(ngModel)]="registerMetric.muslo_izquierdo" class="form-control form-control-sm" type="number" placeholder="00" required />
            </div>
        </div>
        <div class="col-md-6 form-section">
            <h2>Objetivos</h2>
            <div class="form-group">
                <select class="form-control form-control-sm" name="meta" [(ngModel)]="registerMetric.meta" (change)="validateForm()">
                    <option value="P">Bajar Peso</option>
                    <option value="M">Aumentar Masa</option>
                    <option value="T">Tonificar</option>
                </select>
            </div>
            <div class="form-group">
                <label>Peso Ideal:</label>
                <input [(ngModel)]="registerMetric.objetivo" name="objetivo" class="form-control form-control-sm" type="text" placeholder="ej: 75" (keyup)="validateForm()" required />
                <p *ngIf="badIdealWeightFormat">El peso ideal tiene que tener el formato: '00.00' dos enteros y dos decimales</p>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" [disabled]="!completedForm">Registrar</button>
            </div>
        </div>
    </div>
</form>
<br>
<br>
<ng-template #confirmation>
    <div class="confirmation-modal">
        <div class="modal-body">
            <div class="check-icon">&#10004;</div>
            <h4>MÉTRICAS REGISTRADAS</h4>
        </div>
    </div>
</ng-template>