<div class="container">
    <div class="row">
        <div class="col">
          <h1>Clientes</h1>
        </div>
        <div class="col d-flex flex-column align-items-center justify-content-center">
            <div class="col-md-2">
                <button class="btn btn-primary registrar"(click)="onButtonClick()" >Registrar</button>
            </div>
        </div>  
    </div>

    <div class="row">
        <div class="col-md-5">
            <input class="form-control"
            placeholder="Ingrese el nombre/DNI del cliente a buscar"
            (keyup)="realizarBusqueda($event.target)"/>
            
            <br>
            <div *ngFor="let client of clients" class="card row-md-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="card-text">{{ client.nombre }} {{client.apellido1}} {{client.apellido2}} ({{client.edad}})</p>
                            <p class="card-text">{{ client.telefono }}</p>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <button class="btn btn-primary" (click)="onSelect(client)">
                                <h5>Ver</h5>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-5">
            <div class="card altura">
                <div class="card-body">
                    <h3 class="card-title mb-4">Detalle del Cliente</h3>
                    <p class="card-text" *ngIf="!clientSelected">Seleccione un cliente para visualizar su información</p>
                    <div *ngIf="clientSelected" class="row">
                        <div class="col-md-6">
                            <h5 class="oa">NOMBRE</h5>
                            <h5 class="oa">A. PATERNO</h5>
                            <h5 class="oa">A. MATERNO</h5>
                            <h5 class="oa">SEDE</h5>
                            <h5 class="oa">MEMBRESÍA</h5>
                            <h5 class="oa">FECHA FIN</h5>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="oa">{{ selectedClient.nombre }}</h5>
                                </div>
                                <div class="col-md-12">
                                    <h5 class="oa">{{ selectedClient.apellido1 }}</h5>
                                </div>
                                <div class="col-md-12">
                                    <h5 class="oa">{{ selectedClient.apellido2 }}</h5>
                                </div>
                                <div class="col-md-12">
                                    <h5 class="oa">{{ selectedClient.sede }}</h5>
                                </div>
                                <div class="col-md-12">
                                    <h5 class="oa">{{ selectedClient.membresia }}</h5>
                                </div>
                                <div class="col-md-12">
                                    <h5 class="oa"s>{{ selectedClient.fechafin }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>