<div class="wrapper">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a id="logo" routerLink="/inicio"><img
          src="https://cdn.discordapp.com/attachments/1228834360367775860/1231750975925260398/Logo_omody.png?ex=6626f4fd&is=6625a37d&hm=bc48b0a5d72f7203f078f491e2ac4ce33c4fd318d7631d2e2d72b31196d58750&"
          alt></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="spacer"></span>
      <div class="collapse navbar-collapse justify-content-end"
        id="navbarNavDropdown">
        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <a
              *appShowForRoles="['Administrador', 'Cliente', 'Recepcionista', 'Entrenador']"
              class="nav-link active" aria-current="page" routerLink="/inicio"
              routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item">
            <a *appShowForRoles="['Recepcionista']" class="nav-link"
              routerLink="/verificarAcceso" routerLinkActive="active">Verificar
              acceso</a>
          </li>
          <li class="nav-item">
            <a *appShowForRoles="['Administrador']" class="nav-link"
              routerLink="/sedes" routerLinkActive="active">Sedes</a>
          </li>
          <li class="nav-item">
            <a *appShowForRoles="['Administrador']" class="nav-link"
              routerLink="/colaboradores"
              routerLinkActive="active">Colaboradores</a>
          </li>
          <li class="nav-item">
            <a
              *appShowForRoles="['Recepcionista', 'Entrenador', 'Administrador']"
              class="nav-link" routerLink="/clientes"
              routerLinkActive="active">Clientes</a>
          </li>
          <li class="nav-item">
            <a *appShowForRoles="['Entrenador']" class="nav-link"
              routerLink="/ejercicios" routerLinkActive="active">Ejercicios</a>
          </li>
          <li class="nav-item">
            <a *appShowForRoles="['Administrador']" class="nav-link"
              routerLink="/membresias" routerLinkActive="active">Membresias</a>
          </li>
          <li class="nav-item">
            <a *appShowForRoles="['Cliente']" class="nav-link"
              routerLink="/entrenador" routerLinkActive="active">Entrenador</a>
          </li>
          <li class="nav-item">
            <a *appShowForRoles="['Cliente']" class="nav-link"
              routerLink="/miPlan" routerLinkActive="active">Mi Plan</a>
          </li>
          <li class="nav-item">
            <a *appShowForRoles="['Cliente']" class="nav-link"
              routerLink="/estadisticas"
              routerLinkActive="active">Estadísticas</a>
          </li>
          <li class="nav-item">
            <a
              *appShowForRoles="['Administrador', 'Cliente', 'Recepcionista', 'Entrenador']"
              class="nav-link" routerLink="/perfil"
              routerLinkActive="active">Perfil</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
