<clientes-list *ngIf="onListRecepcionista" (listButtonClick)="goToRegister()"></clientes-list>
<clientes-trainer-list *ngIf="onListTrainer" (registerPlanButtonClick)="goToRegisterPlan($event)" (seeMetricsButtonClick)="goToSeeMetrics($event)"></clientes-trainer-list>
<registrar-cliente *ngIf="onRegisterRecepcionista" (registerButtonClick)="goToList()"></registrar-cliente>
<register-training-plan *ngIf="onRegisterPlan" [receivedClient]="selectedClient" (back)="goToList()"></register-training-plan>
<client-metrics-plan *ngIf="onSeeMetrics" [receivedClient]="selectedClient" (back)="goToList()"></client-metrics-plan>