<div class="container">
  <div class="row mt-2">
    <div class="col-md-2 offset-md-10">
      <button class="btn btn-primary" (click)="openModal(ModalRegistrarEjercicio)">Registrar ejercicio</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-3">
      <select [(ngModel)]="filterByGrupoMuscular" name="idSede" class="form-select" required>
        <option aria-label="Default select example" value="0">Seleccione grupo muscular</option>
        <option *ngFor="let grupoMuscular of gruposMusculares" [value]="grupoMuscular.id_grupo_muscular">{{grupoMuscular.nombre_grupo_muscular}}</option>
      </select>
    </div>

    <div class="col-md-8">
      <input [(ngModel)]="searchEjercicioName" name="searchEjercicioName" class="form-control" type="text" placeholder="Buscar ejercicios" aria-label="Buscar ejercicios" aria-describedby="button-addon2">
    </div>

    <div class="col-md-1">
      <button class="btn btn-light" (click)="resetFilters()"><i class="bi bi-arrow-counterclockwise"></i></button>
    </div>
  </div>

  <div class="row mt-3">
    <div *ngFor="let ejercicio of ejercicios | sortEjerciciosName:searchEjercicioName | sortGrupoMuscular:filterByGrupoMuscular" class="col-md-3 mt-2">
      <div class="card">
        <img [src]="ejercicio.imagen" alt="Imagen del ejercicio" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ejercicio.nombre | titlecase}}</h5>
          <p class="card-text">{{ejercicio.nombre_grupo_muscular}}</p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #ModalRegistrarEjercicio>
    <form (ngSubmit)="registerEjercicio()" #colaboradorForm="ngForm">
      <div class="modal-header">
        <h4 class="modal-title">Registrar Ejercicio</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef?.hide()"></button>
      </div>

      <div *ngIf="processingRequest; else FormBody">
        <div class="modal-body">
          <shared-loading-spinner></shared-loading-spinner>
          <p>Espere mientras se registra el ejercicio</p>
        </div>
      </div>

      <ng-template #FormBody>
        <div class="modal-body">
          <p>Ingrese los datos del ejercicio a registrar</p>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="grupoMuscular" class="form-label">Grupo Muscular</label>
                <select [(ngModel)]="ejercicioRegistro.id_grupo_muscular" name="idSede" id="grupoMuscular" class="form-select" required>
                  <option aria-label="Default select example" value="0">Seleccione grupo muscular</option>
                  <option *ngFor="let grupoMuscular of gruposMusculares" [value]="grupoMuscular.id_grupo_muscular">{{grupoMuscular.nombre_grupo_muscular}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="nombreEjercicio" class="form-label">Nombre Ejercicio</label>
                <input [(ngModel)]="ejercicioRegistro.nombre" name="nombre" id="nombreEjercicio" type="text" class="form-control" required>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="enlaceImagen" class="form-label">Enlace Imagen</label>
            <input [(ngModel)]="ejercicioRegistro.imagen" name="enlace" id="enlaceImagen" type="text" class="form-control" required>
          </div>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modalRef?.hide()">Cerrar</button>
          <button type="submit" class="btn btn-primary" [disabled]="!colaboradorForm.valid">Registrar ejercicio</button>
        </div>

      </ng-template>
    </form>
  </ng-template>
</div>
