<div class="container">
  <div class="row mb-4">
      <div class="col text-center">
          <h1>Membresías</h1>
      </div>
  </div>

  <div class="container">

    <div class="row mb-4">
      <div class="col">
          <div class="d-flex justify-content-start">
              <button class="btn btn-membresias-activas" [class.active]="listActive" (click)="showActive()">Membresías Activas</button>
              <button class="btn btn-membresias-inactivas" [class.active]="!listActive" (click)="showInactive()">Membresías Inactivas</button>
          </div>
      </div>
      <div class="col text-end">
          <button class="btn btn-nueva-membresia" (click)="openModalWithComponent()">NUEVA MEMBRESIA</button>
      </div>
  </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div *ngFor="let membership of (listActive ? memberships : inactiveMemberships)" class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ membership.nombre }}</h5>
                            <p class="card-text text-center">{{ membership.detalle }}</p>
                            <select [(ngModel)]="membership.estado" (change)="updateStatus(membership.Id)" class="form-select form-select-green">
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>