:host {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  background-color: #ffffff;
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: auto;
  justify-content: space-between;
  align-items: center;
}


a,
button {
  display: inline-flex;
  color: black;
  text-decoration: none;
  padding: 0 1rem;
  line-height: 3.75rem;
  border-radius: 4px;

}

a:hover {
  color: #CADA2A;
  transition: 0.20s;
}



button {
  background: none;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

.active {
  background-color: red;
}