<shared-header role="heading"></shared-header>
<router-outlet></router-outlet>

<footer>
    <div class="footerBottom">
        <a id="logo" routerLink="/inicio"><img src="https://cdn.discordapp.com/attachments/1228834360367775860/1231774978412646410/blanco.png?ex=66382ed8&is=6625b9d8&hm=5f9021c6aeb4971c950cd6dbfbb73985bec0101d36fbe23f6cca507c293fc7fc&" alt=""></a>
        <p>Copyright &copy;2024; Diseñado por <span class="designer">OmodyGym Team</span></p>

        <div class="social-icons">
            <a href="https://www.facebook.com/OmodyGym" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/omodygym/" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a href="https://wa.me/963862751" target="_blank" class="social-icon whatsapp"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
</footer>